 <!-- End Navbar -->
 <br><br><br><br><br>
 <div class="content">
    <div class="container-fluid">
      <div class="row">
    <div class="col-lg-3"></div>
        <div class="col-md-12 col-lg-9 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title ">Managers</h4>
              <p class="card-category"> Records of Managers</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-info">
                    <th>#</th>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Edit</th>
                  
                  </thead>
                  <tbody>
                      <tr *ngFor="let agent of managerinfo ; let i=index;" >
                          <td>{{ i + 1}}</td>
                          <td>{{agent.manager_id}}</td>
                          <td>{{agent.firstName}}</td>
                          <td>{{agent.lastName}}</td>
                          <td>{{agent.email}}</td>
                          <td>
                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-sm btn-info ">
                              <i class="material-icons">edit</i>
                              Update
                            </button>
                          </td>  
                          
                         </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> 

      


     