<h3 class="text-title heading-report1" align="center">Overall Revenue Summary</h3>   

<div class="row"> 
  <div class="col-lg-3 col-md-6 col-sm-6">
      <app-revenuetotal></app-revenuetotal>
</div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon" >
          <!-- <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div> -->
          <p class="card-category" Style="color:#52516A; font-size:20px;" align="center">Total Cash Volume</p>
          <h3 class="card-title" align="center" style=" color: #2ABABF;">{{ total | currency:'GHS':'GHS ' }}</h3>
            <app-spinner *ngIf="loading"></app-spinner>
          <h3 class="card-title error">{{ loaderror }}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">autorenew</i>Updates for the entire period
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <!-- <div class="card-icon">
            <i class="material-icons">store</i>
          </div> -->
          <p class="card-category" Style="color:#52516A; font-size:20px;" align="center">Total Cheque Volume</p>
           <h3 class="card-title" align="center" style=" color: #2ABABF;">{{ transacttoday | currency:'GHS':'GHS ' }}</h3>

           <app-spinner *ngIf="loading"></app-spinner>
          <h3 class="card-title error">{{ loaderror }}</h3> 
          <!--<h3 class="card-title" *ngIf="loading">loading ...</h3>-->
         </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">autorenew</i>Updates for the entire period
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <!-- <div class="card-icon">
            <i class="material-icons">redo</i>
          </div> -->
          <h4 class="card-title"></h4>
          <p class="card-category" Style="color:#52516A; font-size:20px;" align="center"> Total Mobile Money Volume</p>
          <h3 class="card-title" align="center" style=" color: #2ABABF;">{{ policytoday }}</h3>

           <app-spinner *ngIf="loading"></app-spinner>
          <h3 class="card-title error">{{ loaderror }}</h3> 
          <!--<h3 class="card-title" *ngIf="loading">loading ...</h3>-->
         </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">autorenew</i>Updates for the entire period
          </div>
        </div>
      </div>
    </div>

  
   
</div>