<div class="row">
  <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6">
    
     <div class="card card-chart">
      <div class="card-header card-header-danger ">
        <div class="ct-chart" id="daily"> 
          {{ loaderror }} 
          <app-spinner *ngIf="loading"></app-spinner>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Agent's Transaction Per Day.</h4>
      </div>
    </div> 
    
  </div>
  <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6">
    <div class="card card-chart">
      <div class="card-header card-header-info ">
        <div class="ct-chart" id="completed"> 
          <app-spinner *ngIf="loading"></app-spinner>
          {{ loaderror }}  
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Agent's Amount Per Day.</h4>
      </div>
     
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6">
    <app-policygraph></app-policygraph>

  </div>
  
</div>