<br><br><br>

<div class="content">
 <div class="container-fluid"> 
   <div class="row"> 
     <div class="col-md-3">

     </div>
     <div class="col-md-6">
       <div class="card">
         <div class="card-header card-header-info">
           <h4 class="card-title">Confirm Password</h4>
          <!-- <p class="card-category">Confirm Password Feature</p> -->
         </div>
         <div class="card-body">
           <form [formGroup]="passwordform">
             <div class="row">
               <div class="col-md-12">
                 <div class="form-group">
                   <label class="bmd-label-floating">New Password</label>
                   <input Style=" text-transform: uppercase;" type="password"  formControlName="password" id="password"  class="form-control">
                 </div>
               </div>
             </div>
             <div class="row">
                 <div class="col-md-12">
                       <div class="form-group">
                         <label class="bmd-label-floating">Confirm Password</label>
                         <input class="form-control"  formControlName="confirm_password" id="confirm_password">
                     </div>
                   </div>
                 </div>

             <button type="submit" Style="border-radius:10px;" class="btn btn-info btn-sm btn-lg pull-right" (click)="setPassword()">Send Message</button>
           </form>
         </div>
       </div>
     </div>
     <div class="col-md-3">

     </div>
   </div>

 </div>
</div>

