
      <!-- End Navbar -->
      <br><br><br><br>
      <div class="content" *ngIf="falseAuth">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-md-0 col-sm-0 col-xs-0"></div>
                <div class="col-lg-9 col-md-120 col-sm-12 col-xs-12">
                  <app-revenuetype></app-revenuetype>
              </div>
            </div>
            
  <div class="row">

      <div class="col-lg-3"></div>
      <div class="col-lg-9">
          <app-topmosttotals></app-topmosttotals>
      </div>
  </div>       


         


          <div class="row">
           
          <div class="col-lg-3 col-md-2 col-sm-0  col-xs-3"></div>
            <div class="col-lg-4 col-md-10 col-sm-12 col-xs-9">
              <app-totaltransgraph></app-totaltransgraph>

          </div>

            <div class="col-lg-1 col-md-2 col-sm-0  col-xs-3"></div>

            <div class="col-lg-4 col-md-12">
             <!-- <app-strdailytrend></app-strdailytrend> -->
              <app-hfstckersalegraph></app-hfstckersalegraph>
            </div>


          </div>

          <div class="row">

              <div class="col-lg-3 col-md-0"></div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
      
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
             <app-policygraph></app-policygraph>
            </div>
      
          </div>

        </div>
      </div>
     
      <router-outlet></router-outlet>
