h3.card-title{
    font-weight: 20px;
}
.heading-report1{
    box-shadow: 25px 20px 20px 25px rgb(207, 207, 207);
    background: #fff;
}


p.color{
    color: #52516a;
    font-size: 50px;
}

h3.card-title{
    font-weight: bold;
}